
       <% if user_signed_in? %>
      <div class="dropdown mx-3">
        <button class="ml-3 btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <%= current_user.first_name == nil ? "Connecté" : current_user.first_name %>
        </button>
        <div class="ml-3 dropdown-menu" aria-labelledby="dropdownMenuButton">
           <%= link_to "Mon Profil", user_path(current_user.id), :class=> "dropdown-item"%>
            <%= link_to "Se déconnecter", destroy_user_session_path , method: :delete, :class=> "dropdown-item"%>
        </div>
      </div>
      <% else %>
      <div class="dropdown mx-3">
        <button class="ml-3 btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          S'inscrire / Se connecter
        </button>
        <div class="ml-3 dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to "Se connecter",new_user_session_path, :class=> "dropdown-item"%>
          <%= link_to "S'inscrire", new_user_registration_path, :class=> "dropdown-item"%>
        </div>
      </div>
       <% end %>
